@font-face {
    font-family: Poppins-Regular;
    src: url(fontes/Poppins-Regular.ttf);
}

* {
    font-family: "Poppins-Regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    box-sizing: border-box;
}

.titulo {
    font-size: 24px;
    line-height: 120%;
    font-weight: bold;
    color: #292524;
    margin-bottom: 8px;
}

.subtitle {
    font-weight: bold;
    font-size: 16px;
    color: #292524;
}

.comum {
    color: #57534E;
    font-size: 14px;
}