.form-group {
    margin-bottom: 20px;
}

.file-upload-label {
    border: 2px  dashed #ccc;
    color: #A8A29E;
    font-size: 16px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px 200px;
    cursor: pointer;
    background-color: none;
    border-radius: 5px;
    text-align: center;
}

.file-upload-label:hover {
    background-color: #e9e9e9;
}

.file-upload-label i,
.file-upload-label img {
    max-height: 48px; /*tamanho máximo ícone*/
}

.subtitle{
    padding-bottom: 16px;
}


.form-label{
    font-size: 14px;
    color: #57534E;
}

input.form-control{
    font-size: 16px;
}

button#b1 {
    border: none;
    color: #57534E;
    text-align: center;
    font-size: 16px;
    background: none;
    display: flex;
    align-items: center;
    padding-bottom: 24px;
}

button#b1 img {
    margin-right: 8px;
}

.destaque {
    color: #E43A12;
    font-weight: bold;
}

.form-check-input {
    accent-color: #E43A12;
    transform: scale(1.4);
}

.form-check-label {
    margin-left: 12px;
}


div.form-check{
    margin-left: 20px;
}

.form{
    padding-top: 28px;
}

.radio-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 16px;
    margin-bottom: 48px;

}

.radio-item{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #D6D3D1;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 120px;
}

.radio-item img{
    max-height: 40px;
    margin-bottom: 8px;
    align-self: center;
}

.radio-item span {
    align-self: center;
}

.radio-item input[type="radio"] {
    position: absolute;
    top: 10px;
    left: 10px;
    transform: scale(1.4);
}

.radio-item:hover{
    background-color: #f0f0f0;
}

.radio-item:has(input[type="radio"]:checked) {
    border: 2px solid #E43A12;
    accent-color: #E43A12;
}

#btn-primary{
    background-color: #E43A12;
    border-radius: 8px;
    border-color: transparent;
    font-size: 16px;
    margin-left: 16px;
    font-weight: 500;
    padding: 12px 24px ;
}

#btn-secondary{
    background: none;
    border-radius: 8px;
    color: #E43A12;
    border-color: #E43A12;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 24px;
}

.mt-3{
    display: flex;
    justify-content: right;
    padding-top: 48px;
    margin-bottom: 48px;
}

/* input desativado */
input.form-control:not(:focus):placeholder-shown {
    background-color: #f0f0f0; 
    border-color: #ccc;
    color: #888; 
    opacity: 0.8;
    cursor: default;
}

/* input ativo */
input.form-control:not(:focus):not(:placeholder-shown){
    background-color: #fff; 
    color: #000; 
    opacity: 1;
    cursor: auto;
}


/* select ativo */
select.form-control:not(:focus):not(:placeholder-shown){
    color: #000; 
    cursor: pointer;
}
